.settings {
    color: red;

    .delete_orders {
        background-color: var(--red1);
        color: #fff;
        padding: 10px 15px;
        border: none;
        outline: none;
        border-radius: 10px;
        font-size: 16px;
        margin-top: 30px;
        cursor: pointer;
        transition: .3s;

        &:hover {
            background-color: var(--red2);
        }
    }

    .success,
    .errord {
        font-weight: 300;
        margin-top: 10px;
    }

    .success {
        color: var(--blue2);
    }

    .errord {
        color: var(--red1);
    }
}